<div class="mpPauseWrapper" bng-blur="true">
<link type="text/css" rel="stylesheet" href="/ui/modModules/multiplayerPause/multiplayerPause.css">
<link type="text/css" rel="stylesheet" href="/ui/modModules/multiplayer/formatCodes.css">

<div id="mpPauseServerDetails" class="mpPauseContainer mpPauseServerDetailsContainer" style="display:none">
	<div flex style="display:flex;flex-direction:column;gap:1rem;justify-content:center;width:40vw;max-width:66vh;max-height:50vh">
		<div class="mpPauseSection">
			<div class="mpPauseServerDetailsHeader">
				<div class="bng-title-wrapper mpPauseTitle">
					<link type="text/css" rel="stylesheet" href="/ui/modules/atom/title/title.css" />
					<div class="bng-title">{{:: 'ui.multiplayer.pauseMenu.serverDetails' | translate}}</div>
					<div class="bng-subtitle" ng-bind-html="serverName"></div>
					<div class="bng-subtitle" style="font-size:1rem;margin-top: 0.5rem;"><div class="serverStatusLabel serverStatusLabel-{{serverStatus}}" ng-bind="serverStatus"></div>{{:: 'ui.multiplayer.server.owner' | translate}} {{serverOwner}}</div>
				</div>
				<button class="mpPauseBack" ng-click="openPopupOfId('mpPauseMain')" bng-sound-class="bng_back_hover_generic">{{:: 'ui.common.back' | translate}}</button>
			</div>
		</div>
		<div style="display:flex;gap:1rem">
			<div flex class="mpPauseSection" style="width:75%">
				<div class="bng-title-wrapper" style="left:-1rem;padding-top:0;padding-bottom:0">
					<link type="text/css" rel="stylesheet" href="/ui/modules/atom/title/title.css" />
					<div class="bng-title">
						{{:: 'ui.multiplayer.pauseMenu.serverDetails.description' | translate}}
					</div>
				</div>
				<div flex style="display:flex;flex-direction:row;flex-wrap:nowrap;gap:0.5rem;color:white;max-width:100%">
					<div ng-bind-html="serverDesc" style="
						text-wrap: wrap;
						text-overflow: clip;
						text-box: auto;
						overflow: hidden;
					"></div>
				</div>
			</div>
			<div flex class="mpPauseSection" style="overflow:hidden">
				<div class="bng-title-wrapper" style="left:-1rem;padding-top:0;padding-bottom:0">
					<link type="text/css" rel="stylesheet" href="/ui/modules/atom/title/title.css" />
					<div class="bng-title">
						{{:: 'ui.multiplayer.pauseMenu.serverDetails.tags' | translate}}
					</div>
				</div>
				<div flex style="display:flex;flex-direction:row;flex-wrap:nowrap;gap:0.5rem;color:white;max-width:100%">
					<span ng-hide="serverTags.length > 0">No tags</span>
					<div class="tagListContainer" style="max-width:100%" ng-if="serverTags.length > 0">
						<span ng-repeat="tag in serverTags">
							<span class="tagList tagListShort">
								<div ng-bind-html="tag.icon" style="display:inline;max-height:1.5em"></div>
								<div ng-bind="tag.text" style="display:inline"></div>
							</span>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="mpPauseSection" style="flex-direction:column;color:white">
			<div class="bng-title-wrapper" style="left:-1rem;padding-top:0;padding-bottom:0">
				<link type="text/css" rel="stylesheet" href="/ui/modules/atom/title/title.css" />
				<div class="bng-title">
					{{:: 'ui.multiplayer.server.mods' | translate}}
					<span ng-if="mods.total > 0"> ({{mods.total}})</span>
				</div>
			</div>
			<span ng-hide="mods.total > 0">
				<img ng-src="{{ getVueIconPath('shieldCheckmark') }}" style="
					font-size: 1.5em;
					width: 1em;
					height: 1em;
					line-height: 1.5em;
					vertical-align: middle !important;
					filter: contrast(0) brightness(2);
				"/> {{:: 'ui.multiplayer.server.isUnmodded' | translate}}
			</span>
			<div ng-show="mods.total > 0" style="width:95%;height:fit-content;font-family:VueNotoSans var(--fnt-defs)">
				<div class="tagListContainer" style="max-width:100%">
					<span class="tagList tagListShort" ng-repeat="text in mods.list">{{ text }}</span>
				</div>
				<div style="margin-top:0.8em;font-size:0.8em;color:var(--off-white-from-vue)">Total Filesize: {{mods.size || "Unknown"}}</div>
			</div>
		</div>
	</div>
</div>

<div id="mpPauseMain" class="mpPauseContainer mpPauseMainContainer">
	<div class="mpPauseSection">
		<div class="bng-title-wrapper mpPauseTitle">
			<link type="text/css" rel="stylesheet" href="/ui/modules/atom/title/title.css" />
			<div class="bng-title">
				{{:: 'ui.playmodes.multiplayer' | translate}}
			</div>
			<div class="bng-subtitle" ng-bind-html="serverName"></div>
		</div>
	</div>
	<div flex style="display:flex;flex-direction:row;gap:1rem">
		<div flex class="mpPauseSection" layout="column">
			<div id="mpPauseGameplayButtons" class="mpPauseButtonCategory">
				<button class="bng-button bng-button-outline mpPauseButton-outline" ng-click="resume()" bng-sound-class="bng_click_hover_generic">{{:: 'ui.common.action.resume' | translate}}</button>
			</div>
			<div id="mpPauseMpButtons" class="mpPauseButtonCategory">
				<button class="bng-button bng-button-outline mpPauseButton-outline" ng-click="openPopupOfId('mpPauseServerDetails')" bng-sound-class="bng_click_hover_generic">Server Details</button>
				<!--
				<button disabled class="bng-button bng-button-outline mpPauseButton-outline">Players</button>
				-->
			</div>
			<div flex style="max-height:none"></div>
			<div id="mpPauseModButtons" class="mpPauseButtonCategory">
				<button ng-repeat="modButton in modButtons" class="bng-button bng-button-outline {{modButton.class}}" ng-click="modButtonClick(modButton.event || '')" bng-sound-class="bng_click_hover_generic">
					<div class="modButtonModLabel">{{:: 'ui.mainmenu.mod' | translate}}</div>
					{{:: modButton.text | translate}}
				</button>
			</div>
			<div flex style="max-height:none"></div>
			<div id="mpPauseActionButtons" class="mpPauseButtonCategory">
				<button class="bng-button bng-button-outline mpPauseButton-outline" ng-click="mainMenu()" bng-sound-class="bng_click_hover_generic">{{:: 'ui.dashboard.menu' | translate}}</button>
				<div style="display:flex;flex-wrap:nowrap;gap:0.5rem">
					<button flex class="bng-button bng-button-outline mpPauseButton-outline" ng-click="leaveServer()" bng-sound-class="bng_click_hover_generic">{{:: 'ui.multiplayer.pauseMenu.disconnect' | translate}}</button>
					<button flex class="bng-button bng-button-outline mpPauseButton-danger" ng-click="quitGame()" bng-sound-class="bng_click_hover_generic">{{:: 'ui.career.exitToDesktop' | translate}}</button>
				</div>
			</div>
		</div>
		<div flex class="mpPauseSection" style="max-width:50%">
			<div class="bng-title-wrapper" style="left:-1rem;padding-top:0;padding-bottom:0">
				<link type="text/css" rel="stylesheet" href="/ui/modules/atom/title/title.css" />
				<div class="bng-title">
					{{:: 'ui.multiplayer.server.playerList' | translate}}
					<span> ({{((playersList.length && maxPlayers) && playersList.length+'/'+maxPlayers) || ('ui.multiplayer.loading' | translate)}})</span>
				</div>
			</div>
			<div id="mpPausePlayerList">
				<!-- ng-if="!player.self" -->
				<div ng-repeat="player in playersList" bng-nav-scroll bng-nav-scroll-force class="mpPausePlayerListRow">
					<span class="mpPausePlayerRowId" ng-style="{'color': (player.id!=='?' && 'var(--bng-add-green-400)') || 'var(--bng-orange-500)'}">•</span>
					<span class="mpPausePlayerRowName" ng-style="
					{
						'color': player.color
					}
					">{{ player.name }}</span>
					<md-input-container style="float:right;padding:0;margin:0">
						<img ng-src={{getVueIconPath('adjust')}} class="mpPausePlayerRowActionsIcon"/>
						<md-select class="md-no-underline dropdown mpPausePlayerRowActions" ng-model="dummy" bng-sound-class="bng_click_hover_generic">
							<md-option class="mpPausePlayerRowActionsDropdownButton" bng-sound-class="bng_click_generic_small" ng-click="copyPlayerName(player.name)"									>{{:: 'ui.apps.multiplayer.playerlist.copyname' | translate}}</md-option>
							<md-option class="mpPausePlayerRowActionsDropdownButton" bng-sound-class="bng_click_generic_small" ng-click="deleteAllVehicles(player.name)" 	ng-if="player.id !== '?'"	>{{:: 'ui.apps.multiplayer.playerlist.deleteAllVehicles' | translate}}</md-option>
							<md-option class="mpPausePlayerRowActionsDropdownButton" bng-sound-class="bng_click_generic_small" ng-click="queueEvents(player.id)" 			ng-if="player.id !== '?'"	>{{:: 'ui.apps.multiplayer.playerlist.queueEvents' | translate}}</md-option>
							<md-option class="mpPausePlayerRowActionsDropdownButton" bng-sound-class="bng_click_generic_small" ng-click="switchCameraTo(player.name)"		ng-if="player.id !== '?'"	>{{:: 'ui.apps.multiplayer.playerlist.switchCameraTo' | translate}}</md-option>
							<md-option class="mpPausePlayerRowActionsDropdownButton" bng-sound-class="bng_click_generic_small" ng-click="openProfile(player.name)"										>{{:: 'ui.apps.multiplayer.playerlist.openProfile' | translate}}</md-option>
							<md-option class="mpPausePlayerRowActionsDropdownButton" bng-sound-class="bng_click_generic_small" ng-click="restoreVehicles(player.name)" 		ng-if="player.id !== '?'"	>{{:: 'ui.apps.multiplayer.playerlist.restoreVehicles' | translate}}</md-option>
						</md-select>
					</md-input-container>
				</div>
			</div>
		</div>
	</div>
</div>

</div>