<md-content style="background:none">
	<div style="display:grid">
		<div layout="row">
			<div class="serverListSearch" style="margin:0">
				<input flex="" class="bng-input mp-search" type="text" id="directip" name="ip" value="" placeholder="{{:: 'ui.multiplayer.direct_connect.server_ip' | translate}}" value=""/>
			</div>
			<button class="bng-button-secondary" style="margin-top:0" ng-click="multiplayer.pasteClipboardToDirectIP()" bng-sound-class="bng_click_hover_generic">{{:: 'ui.multiplayer.pasteFromClipboard' | translate}}</button>
		</div>
		<div layout="row">
			<div class="serverListSearch" style="margin:0">
				<input flex="" class="bng-input mp-search" type="text" id="directport" name="port" value="" placeholder="{{:: 'ui.multiplayer.direct_connect.server_port' | translate}}" value=""/>
			</div>
		</div>
		<!--<input type="text" id="nickname" name="nickname" placeholder="Nickname"/>-->
		<div layout="row">
			<button style="margin-left:0;" id="direct-connect-button" class="default-case bng-button-main" ng-click="multiplayer.directConnect()" bng-sound-class="bng_click_hover_generic">{{:: 'ui.multiplayer.connect' | translate}}</button>
			<button id="add-fav-button" class="default-case bng-button-secondary" ng-click="multiplayer.directConnectFavorite()" bng-sound-class="bng_click_hover_generic">{{:: 'ui.multiplayer.favorite' | translate}}</button>
		</div>
	</div>
	<div id="footer"></div>

</md-content>
