<md-content style="background:none">
	<div style="display:grid;padding-top:3px;">
		<div layout="row">
			<div class="serverListSearch" style="margin: 3px 0;">
				<div class="serverListSearchBar">
					<input class="bng-input mp-search" type="text" id="directip" name="ip" placeholder="Server IP" value="" tabindex="1"/>
				</div>
				<span class="mpSearchBarBottom"></span>
			</div>
			<button class="default-case bng-button-link" ng-class="" ng-click="multiplayer.pasteClipboardToDirectIP()">{{:: 'ui.multiplayer.pasteFromClipboard' | translate}}</button>
		</div>
		<div layout="row">
			<div class="serverListSearch" style="margin: 0 0;">
				<div class="serverListSearchBar">
					<input class="bng-input mp-search" type="text" id="directport" name="port" placeholder="Server Port" value="" tabindex="2"/>
				</div>
				<span class="mpSearchBarBottom"></span>
			</div>
		</div>
		<!--<input type="text" id="nickname" name="nickname" placeholder="Nickname"/>-->
		<div layout="row">
			<button style="margin-left:0;" id="direct-connect-button" class="default-case bng-button-main" ng-click="multiplayer.directConnect()" tabindex="3">{{:: 'ui.multiplayer.connect' | translate}}</button>
			<button id="add-fav-button" class="default-case bng-button-link" ng-click="multiplayer.directConnectFavorite()" tabindex="4">{{:: 'ui.multiplayer.favorite' | translate}}</button>
		</div>
	</div>
	<div id="footer"></div>

</md-content>
