<!-- Icons can be found here: https://fonts.google.com/icons?selected=Material+Icons -->
<link type="text/css" rel="stylesheet" href="/ui/modModules/multiplayer/multiplayer.css">
<link type="text/css" rel="stylesheet" href="/ui/modModules/multiplayer/formatCodes.css">

<div class="theEntireMultiplayerModule" flex>
<div id="LoadingServer" style="display: none;">
  <div id="LoadingBody" layout="column">
	<h2 style="padding-bottom:0">{{:: 'ui.multiplayer.connectingToServer' | translate}}</h2>
	<div>
		<span id="OriginalLoadingStatus" hidden style="height: 0px;"></span>
		<span id="LoadingStatus" hidden>{{multiplayer.loadingStatus}}</span>
	</div>

	<div style="margin-top:0.5em" id="mod-download-list" ng-if="multiplayer.downloadingMods.length > 0">
		<div ng-repeat="mod in multiplayer.downloadingMods" class="mod-download-row">
			<div style="width: 1em; height: 1em; font-size: 1em; margin-right: 1em; float: left;">
				<img ng-show="$index != 0" class="button-icon button-icon-filter" style="filter: invert(66%) sepia(22%) saturate(1014%) hue-rotate(90deg) brightness(89%) contrast(88%);"
				ng-src={{getVueIconPath('checkmark')}} />
			</div>
			<span style="flex: 1;">
			<code>{{mod.number}} - {{mod.name}}</code>
			{{ ' - ' }}
			<span style="color: white;font-size: 0.8em;">{{$index === 0 ? mod.speed : ('ui.multiplayer.download.downloaded' | translate)}}</span>
			</span>
			<div style="flex: 2;" ng-if="$index === 0 && mod.progress != 100">
			<md-progress-linear md-mode="determinate" value="{{mod.progress}}" class="md-accent"></md-progress-linear>
			</div>
		</div>
	</div>
	<div flex="" style="max-height:none;margin-top:0.5em" ng-if="!(multiplayer.downloadingMods.length > 0)"></div>

	<div style="height:fit-content;width:100%;margin-top:0.5em">
	<button class="bng-button-attention close-button" ng-click="multiplayer.closeLoadingPopup()">
		<img class="button-icon button-icon-filter" ng-src={{getVueIconPath('xmark')}} />
		{{:: 'ui.common.cancel' | translate}}
	</button>
	</div>
  </div>
</div>

<div id="addCustomFav" style="display: none;" class="filter-overlay">
  <div class="addCustomFav">
    <md-list-item layout class="md-padding">
      <h2>{{:: 'ui.multiplayer.addCustomServer' | translate}}</h2>
    </md-list-item>
    <center>
	<div layout="column" style="width:min-content">
	  <div class="serverListSearch">
		<input flex="" class="bng-input mp-search" type="text" id="customFavName" name="customFavName" placeholder="Server name" value=""/>
	  </div>
	  <div class="serverListSearch">
		<input flex="" class="bng-input mp-search" type="text" id="customFavIP" name="customFavIP" placeholder="Server IP" value=""/>
	  </div>
	  <div class="serverListSearch">
		<input flex="" class="bng-input mp-search" type="text" id="customFavPort" name="customFavPort" placeholder="Server port" value="30814"/>
	  </div>
	</div>
	<div layout="row" style="float:right; width:min-content">
      <button class="default-case bng-button-link" ng-class="" ng-click="multiplayer.closePopup()">
		<img class="button-icon button-icon-filter" ng-src={{getVueIconPath('xmark')}} />
		{{:: 'ui.common.cancel' | translate}}
	  </button>
      <button class="default-case bng-button-main" ng-click="multiplayer.addCustomServer()">{{:: 'ui.multiplayer.save' | translate}}</button>
	</div>
    </center>
  </div>
</div>

<div class="backBar">
	<button class="bng-button-link back-button" ng-click="$state.go('menu.mainmenu')" style="padding-left:0.75em">
		<!--<span class="back-icon"></span> <!-- bngIcons for back -->
		<!--{{:: 'ui.common.back' | translate}}-->
		{{:: 'ui.common.menu' | translate}}
	</button>
	<span class="back-icon divider-icon"></span>
	<button tabindex="-1" class="bng-button-link back-button backBarSelected backBarDisabled" style="padding-right:0.75em">{{:: 'ui.playmodes.multiplayer' | translate}}</button>
	<div bng-blur="true" style="position:absolute;width:100%;height:100%;overflow:hidden;pointer-events:none"></div>
</div>

<md-content id="back" layout="column" flex>
	<div id="top-bar" layout="row" class="" style="padding:0;">
		<div class="bng-title-wrapper" style="font-size: 1.35em; padding-right: 0;">
			<link type="text/css" rel="stylesheet" href="/ui/modules/atom/title/title.css" />
			<div class="bng-title" style="
				font-family: Overpass, var(--fnt-defs);
				color: #f5f5f5;
				font-weight: 1000;
				font-size: 1.642em;
				letter-spacing: normal;
  				padding-right: 0.125em;
			">{{:: 'ui.multiplayer.multiplayer' | translate}}</div>
		</div>
		<p id="topRightStatus" style="display:none; text-align: center;margin: 0 auto;position: absolute;width: 100%;color: white;">{{:: 'ui.multiplayer.patreon.message.user' | translate}}
		<button class="" style="
		display:none;
		margin: 5px;
		border: 2px solid;
		border-radius: 5px;
		padding: 2px 5px;
		color: var(--bng-orange);
		" ng-click="multiplayer.showMessage()"><span>{{:: 'ui.multiplayer.patreon.button.user' | translate}}</span></button></p>

		<div style="
			display: inline-flex;
			position: absolute;
			right: 0;
			top: 0;
			padding: 0.5em;

			flex-direction: row;
  			align-items: center;
			gap: 0.25em;
		">
			<img style="height: 1.375em;" src="/ui/modModules/multiplayer/icons/account-multiple.svg">
			<span ng-bind="'Players: ' + beammpMetrics.players"></span>
			<span style="
				background-color: #f60;
				width: .25rem;
				height: 1.8em;
				margin-left: calc(.5rem + 0.25em);
				margin-right: calc(.2rem + 0.25em);
				display: inline-block;
				transform: skew(-23deg);">
			</span>
			<img style="height: 1.375em;" src="/ui/modModules/multiplayer/icons/dns.svg">
			<span ng-bind="'Servers: ' + beammpMetrics.servers"></span>
		</div>
		<!--<button id="launcher-connect-button" class="button" ng-click="multiplayer.resetLauncherConnection()">Connect to launcher</button>-->
	</div>

	<div flex layout="row" style="overflow:auto;gap:0.5em;margin-left:0.5em;margin-bottom:0.5em;border-radius:var(--bng-corners-1)">
	<md-content layout="column" id="left-menu">
		<div id="serverlist-categories" class="leftMenuGroups" style="display:none">
			<button class="sidebar-buttons servers-btn bng-button-link bng-button-outline" id="-servers-btn" ng-click="switchServerView('')">
			<img class="button-icon button-icon-filter" ng-src="{{getVueIconPath('globeSimplified')}}" />
				{{:: 'ui.multiplayer.servers' | translate}}
			</button>

			<button class="sidebar-buttons servers-btn bng-button-link" id="official-servers-btn" ng-click="switchServerView('official')">
			<img class="button-icon button-icon-filter" ng-src={{getVueIconPath('shieldCheckmark')}} />
				{{:: 'ui.multiplayer.official' | translate}}
			</button>

			<button class="sidebar-buttons servers-btn bng-button-link" id="featured-servers-btn" ng-click="switchServerView('featured')">
			<img class="button-icon button-icon-filter" ng-src="{{getVueIconPath('cup')}}" />
				{{:: 'ui.multiplayer.featured' | translate}}
			</button>

			<button class="sidebar-buttons servers-btn bng-button-link" id="partner-servers-btn" ng-click="switchServerView('partner')">
			<img class="button-icon button-icon-filter" ng-src={{getVueIconPath('medal')}} />
				{{:: 'ui.multiplayer.partner' | translate}}
			</button>

			<button class="sidebar-buttons servers-btn bng-button-link" id="favorites-servers-btn" ng-click="switchServerView('favorites')">
			<img class="button-icon button-icon-filter" ng-src={{getVueIconPath('bookmark')}} />
					{{:: 'ui.multiplayer.favorites' | translate}}
			</button>

			<button class="sidebar-buttons servers-btn bng-button-link" id="recents-servers-btn" ng-click="switchServerView('recents')">
			<img class="button-icon button-icon-filter" ng-src={{getVueIconPath('POITimeL')}} />
					{{:: 'ui.multiplayer.recent' | translate}}
			</button>

			<button class="sidebar-buttons servers-btn bng-button-link" id="direct-connect-btn" ng-click="switchToDirectConnect()" style="margin-bottom:0">
			<img class="button-icon button-icon-filter" ng-src={{getVueIconPath('globeSimpleNotSign')}} />
					{{:: 'ui.multiplayer.direct_connect' | translate}}
			</button>
		</div>
		
		<div flex="" style="max-height: none;"></div>

		<md-divider></md-divider>

		<button class="sidebar-buttons bng-button-link" id="patreonSidebarButton" onclick="openExternalLink(`https://www.patreon.com/BeamMP`)" ng-class="">
		<img src="local://local/ui/modModules/multiplayer/icons/PATREON_SYMBOL_1_WHITE_RGB.svg" class="button-icon"></img>
		{{:: 'ui.multiplayer.patreon' | translate}}
		<div id="patreonSidebarButtonSubtitle"></div>
		</button>

		<button class="sidebar-buttons bng-button-link" id="forum-btn" onclick="openExternalLink(`https://forum.beammp.com`)" ng-class="">
		<img class="button-icon button-icon-filter" ng-src={{getVueIconPath('chatBubble')}} />
		{{:: 'ui.multiplayer.forum' | translate}}
		</button>

		<button class="sidebar-buttons bng-button-link" onclick="openExternalLink(`https://discord.gg/BeamMP`)" ng-class="">
		<md-icon class="button-icon" md-svg-src="local://local/ui/modModules/multiplayer/icons/icon_clyde_white_RGB.svg"></md-icon>
		{{:: 'ui.multiplayer.discord' | translate}}
		</button>

		<button class="sidebar-buttons bng-button-link" onclick="openExternalLink(`https://docs.beammp.com`)" ng-class="">
		<img class="button-icon button-icon-filter" ng-src={{getVueIconPath('info')}}></md-icon>
		{{:: 'ui.multiplayer.docs' | translate}}
		</button>

		<button class="sidebar-buttons bng-button-link" onclick="openExternalLink(`https://github.com/BeamMP/`)" style="margin-bottom:0">
		<img src="local://local/ui/modModules/multiplayer/icons/github-mark.svg" class="button-icon"></img>
		{{:: 'ui.multiplayer.github' | translate}}
		</button>

		<div id="serverlist-account-section" class="leftMenuGroups" style="display:none">
			<md-divider></md-divider>

			<img id="serverlist-profile-avatar"/>
			<span id="serverlist-profile-name"></span>
			<span id="serverlist-profile-id"></span>

			<button class="sidebar-buttons bng-button-attention" ng-click="logout()" style="margin-bottom:0">
				<img class="button-icon button-icon-filter" ng-src={{getVueIconPath('exit')}} />
					{{:: 'ui.multiplayer.logout' | translate}}
			</button>
		</div>
	</md-content>

	<div flex style="position: relative;margin-right: 0.5em;border-radius: var(--bng-corners-1);overflow: overlay;">
		<md-content ui-view class="container" style="background: transparent; overflow: auto;"></md-content>
	</div>
	</div>
	<div class="mp-fancy-blur" bng-blur="true"></div>
</md-content>
<!--
<md-content id="back" layout="column" style="width:20%">
	<div class="bng-title-wrapper">
		<link type="text/css" rel="stylesheet" href="/ui/modules/atom/title/title.css" />
		<div class="bng-title" style="
			font-family: Overpass, var(--fnt-defs);
			color: #f5f5f5;
			font-weight: 1000;
			font-size: 1.642em;
			letter-spacing: normal;
		">{{:: 'ui.multiplayer.filterOptions' | translate}}</div>
	</div>
</md-content>
<div class="mp-fancy-blur" bng-blur="true"></div>
-->
</div>