<!-- Icons can be found here: https://fonts.google.com/icons?selected=Material+Icons -->
<link type="text/css" rel="stylesheet" href="/ui/modModules/multiplayer/multiplayer.css">
<link type="text/css" rel="stylesheet" href="/ui/modModules/multiplayer/vueNotoSans.css">
<link type="text/css" rel="stylesheet" href="/ui/modModules/multiplayer/formatCodes.css">

<div class="theEntireMultiplayerModule" flex>
<div id="LoadingServer" style="display: none;">
  <div id="LoadingBody" layout="column">
	<h2 style="padding-bottom:0">{{:: 'ui.multiplayer.connectingToServer' | translate}}</h2>
	<div>
		<span id="OriginalLoadingStatus" hidden style="height: 0px;"></span>
		<span id="LoadingStatus" hidden>{{multiplayer.loadingStatus}}</span>
	</div>

	<div style="margin-top:0.5em" id="mod-download-list" ng-if="multiplayer.downloadingMods.length > 0">
		<div ng-repeat="mod in multiplayer.downloadingMods" class="mod-download-row">
			<div style="width: 1em; height: 1em; font-size: 1em; margin-right: 1em; float: left;">
				<img ng-show="$index != 0" class="button-icon button-icon-filter" style="filter: invert(66%) sepia(22%) saturate(1014%) hue-rotate(90deg) brightness(89%) contrast(88%);"
				ng-src={{getVueIconPath('checkmark')}} />
			</div>
			<span style="flex: 1;">
			<code>{{mod.number}} - {{mod.name}}</code>
			{{ ' - ' }}
			<span style="color: white;font-size: 0.8em;">{{$index === 0 ? mod.speed : ('ui.multiplayer.download.downloaded' | translate)}}</span>
			</span>
			<div style="flex: 2;" ng-if="$index === 0 && mod.progress != 100">
			<md-progress-linear md-mode="determinate" value="{{mod.progress}}" class="md-accent"></md-progress-linear>
			</div>
		</div>
	</div>
	<div flex="" style="max-height:none;margin-top:0.5em" ng-if="!(multiplayer.downloadingMods.length > 0)"></div>

	<div style="height:fit-content;width:100%;margin-top:0.5em">
	<button class="bng-button-attention close-button" ng-click="multiplayer.closeLoadingPopup()">
		<img class="button-icon button-icon-filter" ng-src={{getVueIconPath('xmark')}} />
		{{:: 'ui.common.cancel' | translate}}
	</button>
	</div>
  </div>
</div>

<div id="addCustomFav" style="display: none;" class="filter-overlay">
  <div class="addCustomFav">
    <md-list-item layout class="md-padding">
      <h2>{{:: 'ui.multiplayer.addCustomServer' | translate}}</h2>
    </md-list-item>
    <center>
	<div layout="column" style="width:min-content">
	  <div class="serverListSearch">
		<input flex="" class="bng-input mp-search" type="text" id="customFavName" name="customFavName" placeholder="Server name" value=""/>
	  </div>
	  <div class="serverListSearch">
		<input flex="" class="bng-input mp-search" type="text" id="customFavIP" name="customFavIP" placeholder="Server IP" value=""/>
	  </div>
	  <div class="serverListSearch">
		<input flex="" class="bng-input mp-search" type="text" id="customFavPort" name="customFavPort" placeholder="Server port" value="30814"/>
	  </div>
	</div>
	<div layout="row" style="float:right; width:min-content">
      <button class="default-case bng-button-link" ng-class="" ng-click="multiplayer.closePopup()">
		<img class="button-icon button-icon-filter" ng-src={{getVueIconPath('xmark')}} />
		{{:: 'ui.common.cancel' | translate}}
	  </button>
      <button class="default-case bng-button-main" ng-click="multiplayer.addCustomServer()">{{:: 'ui.multiplayer.save' | translate}}</button>
	</div>
    </center>
  </div>
</div>

<div style="display: inline-flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;">
	<div class="backBar">
		<button class="bng-button-link back-button" ng-click="$state.go('menu.mainmenu')" style="padding-left:0.75em">
			<!--<span class="back-icon"></span> <!-- bngIcons for back -->
			<!--{{:: 'ui.common.back' | translate}}-->
			{{:: 'ui.common.menu' | translate}}
		</button>
		<span class="back-icon divider-icon"></span>
		<button tabindex="-1" class="bng-button-link back-button backBarSelected backBarDisabled" style="padding-right:0.75em">{{:: 'ui.playmodes.multiplayer' | translate}}</button>
		<div bng-blur="true" style="position:absolute;width:100%;height:100%;overflow:hidden;pointer-events:none"></div>
	</div>
	<div class="backBar">
		<div style="
			display: inline-flex;
			padding: 0.5em;

			flex-direction: row;
			align-items: center;
			gap: 0.25em;
			
			color: white;
		">
			<img src="/ui/modModules/multiplayer/beammp_new_cropped.png" style="margin: 0 0.5em; height: 1.5em;">
			<span style="
					background-color: #f60;
					width: .25rem;
					height: 1.8em;
					margin-left: calc(.5rem + 0.25em);
					margin-right: calc(.2rem + 0.25em);
					display: inline-block;
					transform: skew(-23deg);">
			</span>
			<img style="height: 1.375em;" src="/ui/modModules/multiplayer/icons/account-multiple.svg">
			<span ng-bind="'Players: ' + beammpMetrics.players"></span>
			<span style="
				background-color: #f60;
				width: .25rem;
				height: 1.8em;
				margin-left: calc(.5rem + 0.25em);
				margin-right: calc(.2rem + 0.25em);
				display: inline-block;
				transform: skew(-23deg);">
			</span>
			<img style="height: 1.375em;" src="/ui/modModules/multiplayer/icons/dns.svg">
			<span ng-bind="'Servers: ' + beammpMetrics.servers"></span>
		</div>
	</div>
</div>

<div flex style="
	display: flex;
	flex-direction: row;
	gap: 0.5em;
  	max-height: calc(100% - 3.05em);
 	box-sizing: border-box;
">
	<md-content id="back" layout="column">
		<div id="top-bar" layout="row" class="" style="padding:0;">
			<div class="bng-title-wrapper" style="font-size: 1.35em; padding-right: 0;">
				<link type="text/css" rel="stylesheet" href="/ui/modules/atom/title/title.css" />
				<div class="bng-title" style="
					font-family: Overpass, var(--fnt-defs);
					color: #f5f5f5;
					font-weight: 1000;
					font-size: 1.642em;
					letter-spacing: normal;
					padding-right: 0.125em;
					display: inline-flex;
					flex-wrap: nowrap;
  					align-items: center;
  					line-height: 1.2em;
				">
					<!--<img src="/ui/modModules/multiplayer/beammp_new_cropped.png" style="margin: 0 0.25em; height: 1em;">-->
					{{:: 'ui.multiplayer.multiplayer' | translate}}
				</div>
			</div>
			<p id="topRightStatus" style="display:none; text-align: center;margin: 0 auto;position: absolute;width: 100%;color: white;">{{:: 'ui.multiplayer.patreon.message.user' | translate}}
			<button class="" style="
			display:none;
			margin: 5px;
			border: 2px solid;
			border-radius: 5px;
			padding: 2px 5px;
			color: var(--bng-orange);
			" ng-click="multiplayer.showMessage()"><span>{{:: 'ui.multiplayer.patreon.button.user' | translate}}</span></button></p>
			<!--<button id="launcher-connect-button" class="button" ng-click="multiplayer.resetLauncherConnection()">Connect to launcher</button>-->
		</div>

		<div flex layout="row" style="overflow:auto;gap:0.5em;margin-left:0.5em;margin-bottom:0.5em;border-radius:var(--bng-corners-1)">
			<md-content layout="column" id="left-menu">
				<div id="serverlist-categories" class="leftMenuGroups" style="display:none">
					<button class="sidebar-buttons servers-btn bng-button-link bng-button-outline" id="-servers-btn" ng-click="switchServerView('')">
					<img class="button-icon button-icon-filter" ng-src="{{getVueIconPath('globeSimplified')}}" />
						{{:: 'ui.multiplayer.servers' | translate}}
					</button>

					<button class="sidebar-buttons servers-btn bng-button-link" id="official-servers-btn" ng-click="switchServerView('official')">
					<img class="button-icon button-icon-filter" ng-src={{getVueIconPath('shieldCheckmark')}} />
						{{:: 'ui.multiplayer.official' | translate}}
					</button>

					<button class="sidebar-buttons servers-btn bng-button-link" id="featured-servers-btn" ng-click="switchServerView('featured')">
					<img class="button-icon button-icon-filter" ng-src="{{getVueIconPath('cup')}}" />
						{{:: 'ui.multiplayer.featured' | translate}}
					</button>

					<button class="sidebar-buttons servers-btn bng-button-link" id="partner-servers-btn" ng-click="switchServerView('partner')">
					<img class="button-icon button-icon-filter" ng-src={{getVueIconPath('medal')}} />
						{{:: 'ui.multiplayer.partner' | translate}}
					</button>

					<button class="sidebar-buttons servers-btn bng-button-link" id="favorites-servers-btn" ng-click="switchServerView('favorites')">
					<img class="button-icon button-icon-filter" ng-src={{getVueIconPath('bookmark')}} />
							{{:: 'ui.multiplayer.favorites' | translate}}
					</button>

					<button class="sidebar-buttons servers-btn bng-button-link" id="recents-servers-btn" ng-click="switchServerView('recents')">
					<img class="button-icon button-icon-filter" ng-src={{getVueIconPath('POITimeL')}} />
							{{:: 'ui.multiplayer.recent' | translate}}
					</button>

					<button class="sidebar-buttons servers-btn bng-button-link" id="direct-connect-btn" ng-click="switchToDirectConnect()" style="margin-bottom:0">
					<img class="button-icon button-icon-filter" ng-src={{getVueIconPath('globeSimpleNotSign')}} />
							{{:: 'ui.multiplayer.direct_connect' | translate}}
					</button>
				</div>
				
				<div flex="" style="max-height: none;"></div>

				<md-divider></md-divider>

				<button class="sidebar-buttons bng-button-link" id="patreonSidebarButton" onclick="openExternalLink(`https://www.patreon.com/BeamMP`)" ng-class="">
				<img src="local://local/ui/modModules/multiplayer/icons/PATREON_SYMBOL_1_WHITE_RGB.svg" class="button-icon"></img>
				{{:: 'ui.multiplayer.patreon' | translate}}
				<div id="patreonSidebarButtonSubtitle"></div>
				</button>

				<button class="sidebar-buttons bng-button-link" id="forum-btn" onclick="openExternalLink(`https://forum.beammp.com`)" ng-class="">
				<img class="button-icon button-icon-filter" ng-src={{getVueIconPath('chatBubble')}} />
				{{:: 'ui.multiplayer.forum' | translate}}
				</button>

				<button class="sidebar-buttons bng-button-link" onclick="openExternalLink(`https://discord.gg/BeamMP`)" ng-class="">
				<md-icon class="button-icon" md-svg-src="local://local/ui/modModules/multiplayer/icons/icon_clyde_white_RGB.svg"></md-icon>
				{{:: 'ui.multiplayer.discord' | translate}}
				</button>

				<button class="sidebar-buttons bng-button-link" onclick="openExternalLink(`https://docs.beammp.com`)" ng-class="">
				<img class="button-icon button-icon-filter" ng-src={{getVueIconPath('info')}}></md-icon>
				{{:: 'ui.multiplayer.docs' | translate}}
				</button>

				<button class="sidebar-buttons bng-button-link" onclick="openExternalLink(`https://github.com/BeamMP/`)" style="margin-bottom:0">
				<img src="local://local/ui/modModules/multiplayer/icons/github-mark.svg" class="button-icon"></img>
				{{:: 'ui.multiplayer.github' | translate}}
				</button>

				<div id="serverlist-account-section" class="leftMenuGroups" style="display:none">
					<md-divider></md-divider>

					<img id="serverlist-profile-avatar"/>
					<span id="serverlist-profile-name"></span>
					<span id="serverlist-profile-id"></span>

					<button class="sidebar-buttons bng-button-attention" ng-click="logout()" style="margin-bottom:0">
						<img class="button-icon button-icon-filter" ng-src={{getVueIconPath('exit')}} />
							{{:: 'ui.multiplayer.logout' | translate}}
					</button>
				</div>
			</md-content>

			<div flex style="position: relative;margin-right: 0.5em;border-radius: var(--bng-corners-1);overflow: overlay;">
				<md-content ui-view class="container" style="background: transparent; overflow: auto;"></md-content>
			</div>
		</div>
		<div class="mp-fancy-blur" bng-blur="true"></div>
	</md-content>
	<div id="searchFiltersSidebar" layout="column" flex style="display: none;">
		<div class="card-heading heading-style-ribbon" style="font-size: 1.5em; margin-left: calc(-1em / 3);">
			{{:: 'ui.multiplayer.filterOptions' | translate}}
		</div>
		<button class="default-case bng-button-attention" style="min-height: fit-content;" id="clearFiltersButton" ng-click="resetSearchFilters()">
			{{:: 'ui.multiplayer.clearFilters' | translate}}
		</button>
		<div id="searchFilters" style="
		overflow-y: auto;
		padding-right: 0.5em;
  		scrollbar-gutter: stable;
		">
			<div class="card-heading heading-style-line" style="font-size: 1.25em;">
				Player Count
			</div>
			{{:: 'ui.debug.vehicle.visRangeMin' | translate}}
			<div class="serverListSearch" style="margin: 0;">
				<input flex="" class="bng-input mp-search" ng-model="multiplayer.playerCountMin" ng-change="updatePlayerCountRange();" type="text" value="0" id="playerCountMin" name="playerCountMin" placeholder="{{:: 'ui.debug.vehicle.visRangeMin' | translate}}" />
				<img class="button-icon button-icon-filter" ng-src={{getVueIconPath('arrowLargeDown')}} />
			</div>
			{{:: 'ui.debug.vehicle.visRangeMax' | translate}}
			<div class="serverListSearch" style="margin: 0;">
				<input flex="" class="bng-input mp-search" ng-model="multiplayer.playerCountMax" ng-change="updatePlayerCountRange();" type="text" id="playerCountMax" name="playerCountMax" placeholder="{{:: 'ui.debug.vehicle.visRangeMax' | translate}}" />
				<img class="button-icon button-icon-filter" ng-src={{getVueIconPath('arrowLargeUp')}} />
			</div>

			<div class="card-heading heading-style-line" style="font-size: 1.25em;">
				{{:: 'ui.multiplayer.filters.modSize' | translate}}
			</div>
			<div class="md-slider-container" style="width: 100%; display: flex; justify-content: space-between;">
				<md-slider flex ng-model="multiplayer.sliderMaxModSize" ng-change="updateMaxModSize();" min="0" max="100000" step="10" aria-label="_"></md-slider>
				<span style="min-width: 4.25em; margin: 0px 15px; padding-top: 13px; color: white;">
					{{ formatBytes(multiplayer.sliderMaxModSize * 1e+6) }}
				</span>
			</div>

			<div class="card-heading heading-style-line" style="font-size: 1.25em;">
				{{:: 'ui.multiplayer.filters.selectTags' | translate}}
			</div>
			<div class="searchFilterListContainer">
				<button class="searchFilterListItem" ng-repeat="tag in formattedTags" ng-click="toggleTag(tag)"
				ng-class="{
					'active': tag.active,
					'inactive': false && selectedTags.length > 0 && !tag.active
				}">
					<div>
						<div ng-bind-html="tag.icon" style="display:inline"></div>
						<div ng-bind="tag.text" style="display:inline"></div>
					</div>
					<div style="display: inline;">
						<img ng-src="{{getVueIconPath('checkmark')}}" class="button-icon button-icon-filter tag-icon" />
					</div>
				</button>
			</div>

			<div class="card-heading heading-style-line" style="font-size: 1.25em;">
				{{:: 'ui.multiplayer.filters.selectVersions' | translate}}
			</div>
			<div class="searchFilterListContainer">
				<button class="searchFilterListItem" ng-repeat="string in availableServerVersions" ng-click="toggleSimple('serverVersion', string)"
				ng-class="{
					'active': selectedServerVersions.length > 0 && selectedServerVersions.includes(string),
					'inactive': selectedServerVersions.length > 0 && !selectedServerVersions.includes(string)
				}">
					<div>
						<div ng-bind="string" style="display:inline;"></div>
					</div>
					<div style="display: inline;">
						<img ng-show="selectedServerVersions.length === 0 || selectedServerVersions.includes(string)" ng-src="{{getVueIconPath('checkmark')}}" class="button-icon button-icon-filter tag-icon" />
						<img ng-hide="selectedServerVersions.length === 0 || selectedServerVersions.includes(string)" ng-src="{{getVueIconPath('xmark')}}" class="button-icon button-icon-filter tag-icon" />
					</div>
				</button>
			</div>

			<div class="card-heading heading-style-line" style="font-size: 1.25em;">
				{{:: 'ui.multiplayer.filters.selectServerLocations' | translate}}
			</div>
			<div class="searchFilterListContainer">
				<button class="searchFilterListItem" ng-repeat="string in availableServerLocations" ng-click="toggleSimple('serverLocation', string)"
				ng-class="{
					'active': selectedServerLocations.length > 0 && selectedServerLocations.includes(string),
					'inactive': selectedServerLocations.length > 0 && !selectedServerLocations.includes(string)
				}">
					<div>
						<div style="display: inline-block; height: 1em; min-width: 2em;">
							<img ng-src="local://local/ui/modModules/multiplayer/flags/{{ string.toLowerCase() }}.png" class="flag" style="height:1em" />
						</div>
						<div ng-bind="string" style="display:inline;"></div>
					</div>
					<div style="display: inline;">
						<img ng-show="selectedServerLocations.length === 0 || selectedServerLocations.includes(string)" ng-src="{{getVueIconPath('checkmark')}}" class="button-icon button-icon-filter tag-icon" />
						<img ng-hide="selectedServerLocations.length === 0 || selectedServerLocations.includes(string)" ng-src="{{getVueIconPath('xmark')}}" class="button-icon button-icon-filter tag-icon" />
					</div>
				</button>
			</div>

			<div class="card-heading heading-style-line" style="font-size: 1.25em;">
				{{:: 'ui.multiplayer.filters.selectMaps' | translate}}
			</div>
			<div class="searchFilterListContainer">
				<button class="searchFilterListItem" ng-repeat="string in availableMaps" ng-click="toggleSimple('map', string)"
				ng-class="{
					'active': selectedMaps.length > 0 && selectedMaps.includes(string),
					'inactive': selectedMaps.length > 0 && !selectedMaps.includes(string)
				}"
				ng-init="$last ? setSavedScrollPos() : null">
					<div>
						<img ng-if="officialMaps.includes(string)" ng-src="{{getVueIconPath('beamNG')}}" class="button-icon button-icon-filter tag-icon bnglogo" />
						<div ng-bind="string" style="display:inline;"></div>
					</div>
					<div style="display: inline;">
						<img ng-show="selectedMaps.length === 0 || selectedMaps.includes(string)" ng-src="{{getVueIconPath('checkmark')}}" class="button-icon button-icon-filter tag-icon" />
						<img ng-hide="selectedMaps.length === 0 || selectedMaps.includes(string)" ng-src="{{getVueIconPath('xmark')}}" class="button-icon button-icon-filter tag-icon" />
					</div>
				</button>
			</div>
		</div>
	</div>
</div>
</div>
