<!-- Icons can be found here: https://fonts.google.com/icons?selected=Material+Icons -->

<link type="text/css" rel="stylesheet" href="/ui/modModules/multiplayer/multiplayer.css">

<div class-"theEntireMultiplayerModule">
<div id="LoadingServer" style="display: none;">
  <div id="LoadingBody" flex layout="column">
    <h2 style="
		font-family: Overpass var(--fnt-defs);
		font-style: italic;
		padding-bottom: 0;
	">{{:: 'ui.multiplayer.connectingToServer' | translate}}</h2>
    <span id="OriginalLoadingStatus" hidden style="height: 0px;"></span>
    <span id="LoadingStatus" hidden>{{multiplayer.loadingStatus}}</span>
    <div id="mod-download-list" ng-if="multiplayer.downloadingMods.length > 0">
      <div ng-repeat="mod in multiplayer.downloadingMods" class="mod-download-row" style="align-items: center; margin-bottom: 10px;">
        <div style="width: 1em; height: 1em; font-size: 1em; margin-right: 1em; float: left;">
		  <img ng-show="$index != 0" class="button-icon button-icon-filter" style="filter: invert(66%) sepia(22%) saturate(1014%) hue-rotate(90deg) brightness(89%) contrast(88%);"
		  src={{vueIconsPath}}checkmark.svg />
          <!--<md-icon ng-show="$index != 0" class="material-icons" style="vertical-align: middle;">check_mark</md-icon>-->
		</div>
        <span style="flex: 1;">
          <code>{{mod.number}} - {{mod.name}}</code>
          {{ ' - ' }}
          <span style="color: white;font-size: 0.8em;">{{$index === 0 ? mod.speed : ('ui.multiplayer.download.downloaded' | translate)}}</span>
        </span>
        <div style="flex: 2;" ng-if="$index === 0 && mod.progress != 100">
          <md-progress-linear md-mode="determinate" value="{{mod.progress}}" class="md-accent"></md-progress-linear>
        </div>
      </div>
    </div>
	<div flex="" style="max-height: none;"></div>
    <md-button style="right:0; top:0; margin-top: 20px; margin-right: 0" class="bng-button-attention close-button" ng-class="" ng-click="multiplayer.closeLoadingPopup()">
		<img class="button-icon button-icon-filter" src={{vueIconsPath}}xmark.svg />
		{{:: 'ui.common.cancel' | translate}}
	</md-button>
  </div>
</div>

<div id="addCustomFav" style="display: none;" class="filter-overlay">
  <div class="addCustomFav">
    <md-button style="right:0; top:0; margin:0;" class="button close-button" ng-class="" ng-click="multiplayer.closePopup()"> X </md-button>
    <md-list-item layout class="md-padding">
      <h1>{{:: 'ui.multiplayer.addCustomServer' | translate}}: </h1>
    </md-list-item>
    <center>
      <input type="text" id="customFavName" name="customFavName" placeholder="Server name"/>
      <input type="text" id="customFavIP" name="customFavIP" placeholder="Server IP"/>
      <input type="text" id="customFavPort" name="customFavPort" placeholder="Server port" value="30814"/>
      <md-button class="button" ng-click="multiplayer.addCustomServer()" style="margin-top: 20px; width: 400px;">{{:: 'ui.multiplayer.save' | translate}}</md-button>
    </center>
  </div>
</div>

<md-content id="back" layout="column">

    <md-toolbar class="md-primary" id="top-bar">
        <md-list-item layout="row" class="" style="padding:0;">
            <div class="bng-title-wrapper">
				<link type="text/css" rel="stylesheet" href="/ui/modules/atom/title/title.css" />
				<div class="bng-title" style="
					font-family: Overpass, var(--fnt-defs);
					color: oklch(92.5% 0 0);
					font-weight: 1000;
					font-size: 1.642em;
					letter-spacing: normal;
				">{{:: 'ui.multiplayer.multiplayer' | translate}}</div>
			</div>
            <p id="topRightStatus" style="display:none; text-align: center;margin: 0 auto;position: absolute;width: 100%;color: white;">{{:: 'ui.multiplayer.patreon.message.user' | translate}}
              <md-button class="" style="
			  display:none;
              margin: 5px;
              border: 2px solid;
              border-radius: 5px;
              padding: 2px 5px;
              color: var(--bng-orange);
          " ng-click="multiplayer.showMessage()"><span>{{:: 'ui.multiplayer.patreon.button.user' | translate}}</span></md-button></p>
			<!--<md-button id="launcher-connect-button" class="button" ng-click="multiplayer.resetLauncherConnection()">Connect to launcher</md-button>-->
        </md-list-item>
    </md-toolbar>

    <div flex layout="row" style="overflow: auto;">
      <md-content layout="column" id="left-menu">
        <md-button class="default-case sidebar-buttons servers-btn bng-button-link bng-button-outline" id="-servers-btn" ng-click="switchServerView('')">
          <img class="button-icon button-icon-filter" src={{vueIconsPath}}globeSimplified.svg />
		      {{:: 'ui.multiplayer.servers' | translate}}
        </md-button>

        <md-button class="default-case sidebar-buttons servers-btn bng-button-link" id="featured-servers-btn" ng-click="switchServerView('featured')">
		  <img class="button-icon button-icon-filter" src={{vueIconsPath}}cup.svg />
		      {{:: 'ui.multiplayer.featured' | translate}}
        </md-button>

        <md-button class="default-case sidebar-buttons servers-btn bng-button-link" id="official-servers-btn" ng-click="switchServerView('official')">
		  <img class="button-icon button-icon-filter" src={{vueIconsPath}}shieldCheckmark.svg />
		      {{:: 'ui.multiplayer.official' | translate}}
        </md-button>

        <md-button class="default-case sidebar-buttons servers-btn bng-button-link" id="partner-servers-btn" ng-click="switchServerView('partner')">
		  <img class="button-icon button-icon-filter" src={{vueIconsPath}}medal.svg />
		      {{:: 'ui.multiplayer.partner' | translate}}
        </md-button>

        <md-button class="default-case sidebar-buttons servers-btn bng-button-link" id="favorites-servers-btn" ng-click="switchServerView('favorites')">
		  <img class="button-icon button-icon-filter" src={{vueIconsPath}}bookmark.svg />
				  {{:: 'ui.multiplayer.favorites' | translate}}
        </md-button>

        <md-button class="default-case sidebar-buttons servers-btn bng-button-link" id="recents-servers-btn" ng-click="switchServerView('recents')">
          <img class="button-icon button-icon-filter" src={{vueIconsPath}}POITimeL.svg />
				  {{:: 'ui.multiplayer.recent' | translate}}
        </md-button>

        <md-button class="default-case sidebar-buttons bng-button-link" id="direct-connect-btn" ng-class="{'md-primary md-raised': (multiplayer.stateName.indexOf('multiplayer.direct') !== -1)}" ui-sref="menu.multiplayer.direct">
          <img class="button-icon button-icon-filter" src={{vueIconsPath}}globeSimpleNotSign.svg />
				  {{:: 'ui.multiplayer.direct_connect' | translate}}
        </md-button>
	    
	    <div flex="" style="max-height: none;"></div>

		<md-divider style="padding-top: 2px"></md-divider>

        <md-button class="default-case sidebar-buttons bng-button-link" id="patreonSidebarButton" onclick="openExternalLink(`https://www.patreon.com/BeamMP`)" ng-class="">
          <img src="local://local/ui/modModules/multiplayer/icons/PATREON_SYMBOL_1_WHITE_RGB.svg" class="button-icon"></img>
          {{:: 'ui.multiplayer.patreon' | translate}}
		  <div id="patreonSidebarButtonSubtitle" style="
			font-size:0.8em;
			color: var(--bng-add-green-50);
			overflow-wrap:break-word;
			text-wrap-mode: wrap;
			width: 100%;
			max-width: 100%;
			white-space: normal;
		  "></div>
        </md-button>

        <md-button class="default-case sidebar-buttons bng-button-link" id="forum-btn" onclick="openExternalLink(`https://forum.beammp.com`)" ng-class="">
          <img class="button-icon button-icon-filter" src={{vueIconsPath}}chatBubble.svg />
		  {{:: 'ui.multiplayer.forum' | translate}}
        </md-button>

        <md-button class="default-case sidebar-buttons bng-button-link" onclick="openExternalLink(`https://discord.gg/BeamMP`)" ng-class="">
          <md-icon class="button-icon" md-svg-src="local://local/ui/modModules/multiplayer/icons/icon_clyde_white_RGB.svg"></md-icon>
          {{:: 'ui.multiplayer.discord' | translate}}
        </md-button>

		<md-button class="default-case sidebar-buttons bng-button-link" onclick="openExternalLink(`https://docs.beammp.com`)" ng-class="">
          <img class="button-icon button-icon-filter" src={{vueIconsPath}}info.svg></md-icon>
          {{:: 'ui.multiplayer.docs' | translate}}
        </md-button>

        <md-button class="default-case sidebar-buttons bng-button-link" onclick="openExternalLink(`https://github.com/BeamMP/`)">
          <img src="local://local/ui/modModules/multiplayer/icons/github-mark.svg" class="button-icon"></img>
          {{:: 'ui.multiplayer.github' | translate}}
        </md-button>

	    <md-divider></md-divider>
      
        <img id="serverlist-profile-avatar" style="filter: invert(100%) sepia(0%) saturate(22%) hue-rotate(36deg) brightness(104%) contrast(108%); width: 100px; border-radius: 50%; display: block; margin-left: auto; margin-right: auto;"/>
        <span id="serverlist-profile-name" style="text-align: center; background-color: rgba(0, 0, 0, 0); border-radius: 10px; margin-left: 15px; margin-right: 15px; margin-top: 10px; padding: 2px;"></span>
        <span id="serverlist-profile-id" style="text-align: center;font-size: 0.9em; line-height: 1.5em; opacity: 0.8; cursor: pointer; margin-top: 6px;"></span>

        <md-button class="default-case sidebar-buttons bng-button-attention" ng-click="logout()" class="md-raised md-accent">
		  <img class="button-icon button-icon-filter" src={{vueIconsPath}}exit.svg></md-icon>
				  {{:: 'ui.multiplayer.logout' | translate}}
        </md-button>
      </md-content>

      <div flex style="position: relative;">
        <md-content ui-view class="container" style="background: transparent; overflow: auto;"></md-content>
      </div>

      <div ui-view="edit" layout="column"></div>
    </div>
</md-content>
</div>

<!-- jQuery -->
<script>
  //if (window.module) module = window.module;
</script>
