@font-face {
	font-family: VueNotoSans;
	src: url(/ui/ui-vue/src/assets/fonts/NotoSans/NotoSans-VariableFont_wdth,wght.ttf);
	font-weight: 100 900;
	font-style: normal;
	font-variation-settings: "wdth" 62.5 100
}

@font-face {
	font-family: VueNotoSans;
	src: url(/ui/ui-vue/src/assets/fonts/NotoSans/NotoSans-Italic-VariableFont_wdth,wght.ttf);
	font-weight: 100 900;
	font-style: italic;
	font-variation-settings: "wdth" 62.5 100
}

@font-face {
	font-family: VueNotoSans JP;
	src: url(/ui/ui-vue/src/assets/fonts/NotoSans/NotoSansJP-Light.otf);
	font-weight: 300;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: VueNotoSans JP;
	src: url(/ui/ui-vue/src/assets/fonts/NotoSans/NotoSansJP-Black.otf);
	font-weight: 900;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: VueNotoSans JP;
	src: url(/ui/ui-vue/src/assets/fonts/NotoSans/NotoSansJP-Bold.otf);
	font-weight: 700;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: VueNotoSans JP;
	src: url(/ui/ui-vue/src/assets/fonts/NotoSans/NotoSansJP-Regular.otf);
	font-weight: 400;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: VueNotoSans JP;
	src: url(/ui/ui-vue/src/assets/fonts/NotoSans/NotoSansJP-Medium.otf);
	font-weight: 500;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: VueNotoSans KR;
	src: url(/ui/ui-vue/src/assets/fonts/NotoSans/NotoSansKR-Light.otf);
	font-weight: 300;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: VueNotoSans KR;
	src: url(/ui/ui-vue/src/assets/fonts/NotoSans/NotoSansKR-Black.otf);
	font-weight: 900;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: VueNotoSans KR;
	src: url(/ui/ui-vue/src/assets/fonts/NotoSans/NotoSansKR-Bold.otf);
	font-weight: 700;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: VueNotoSans KR;
	src: url(/ui/ui-vue/src/assets/fonts/NotoSans/NotoSansKR-Regular.otf);
	font-weight: 400;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: VueNotoSans KR;
	src: url(/ui/ui-vue/src/assets/fonts/NotoSans/NotoSansKR-Medium.otf);
	font-weight: 500;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: VueNotoSans SC;
	src: url(/ui/ui-vue/src/assets/fonts/NotoSans/NotoSansSC-Light.otf);
	font-weight: 300;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: VueNotoSans SC;
	src: url(/ui/ui-vue/src/assets/fonts/NotoSans/NotoSansSC-Black.otf);
	font-weight: 900;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: VueNotoSans SC;
	src: url(/ui/ui-vue/src/assets/fonts/NotoSans/NotoSansSC-Bold.otf);
	font-weight: 700;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: VueNotoSans SC;
	src: url(/ui/ui-vue/src/assets/fonts/NotoSans/NotoSansSC-Regular.otf);
	font-weight: 400;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: VueNotoSans SC;
	src: url(/ui/ui-vue/src/assets/fonts/NotoSans/NotoSansSC-Medium.otf);
	font-weight: 500;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: VueNotoSans Mono;
	src: url(/ui/ui-vue/src/assets/fonts/NotoSans/NotoSansMono-VariableFont_wdth,wght.ttf);
	font-weight: 100 950;
	font-stretch: 75% 125%;
	font-style: normal
}

:root {
	--bmp-patreon: #fe8cff;
	--bmp-orange: 243, 109, 36;
	--bmp-fnt-defs: 'VueNotoSans', var(--fnt-defs);
	--bmp-popup-background-color: rgba(33, 33, 33, 0.8);
}

.theEntireMultiplayerModule {
	--background-clr: #000000a8;
	--off-white-from-vue: oklch(92.5% 0 0);
	font-family: var(--bmp-fnt-defs);
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;

	margin: 0.25em 1em 0.25em 1em;
	gap: 0.25em;
	padding-bottom: 0.5em;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	.bng-button-main,
	.bng-button-secondary,
	.bng-button-white,
	.bng-button-outline,
	.bng-button-link,
	.bng-button-attention {
		min-width: 2.75em; /* for icon-only buttons */
		margin: 0.375em 0.5em;
		font-weight: 500;
		white-space: nowrap;
	}
	.focus-visible::before {
		content: unset;
	}
	.bng-button-outline {
		background-color: hsla(24, 100%, 35%, 0.4);
		border-color: hsla(24, 100%, 50%, 1);
		pointer-events: none;
	}
}

.mp-fancy-blur {
  	/*--mp-fancy-blur-src: '';*/

	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	pointer-events: none;
	&::before {
		content: '';
		overflow: hidden;
		position: absolute;
		width: 100vw;
		height: 100vh;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		border: none;
		transform-origin: center;
		transform: translate(-1em, -5.625em);
		z-index: -1;
		transition: background-image 1s linear;
		background-image: var(--mp-fancy-blur-src);
		background-origin: border-box;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
}

.theEntireMultiplayerModule #bng-title-fix {
	font-family: Overpass, var(--bmp-fnt-defs);
	color: var(--off-white-from-vue);
	font-weight: 1000;
	font-size: 1.84em !important;
	letter-spacing: normal !important;
}

.default-case {
	text-transform: none !important;
}
.button-icon-filter {
	filter: contrast(0) brightness(2);
}
.button-icon {
	font-size: 1.5em;
    width: 1em;
    height: 1em;
    line-height: 1.5em;
	vertical-align: middle;
}

.backBar {
	display: flex;
	width: fit-content;
	font-family: var(--bmp-fnt-defs);
	background-color: var(--background-clr);
	border-radius: var(--bng-corners-2);
	.back-button {
		display: inline-flex;
		align-items: center;
		margin: 0.1875rem 0;
		min-width: 2em;

		padding-top:    0.3em;
		padding-right:  0.5em;
		padding-bottom: 0.325em;
		padding-left:   0.5em;
		
		border: none;
		border-radius: var(--bng-corners-1) 0 0 var(--bng-corners-1);

		background-color: transparent;
		transition-duration: 0s;
		&:hover, &:focus-within {
			background-color: rgba(var(--bng-orange-600-rgb), 0.6);
			border-color: var(--bng-orange);
		}
	}
	.backBarSelected {
		text-decoration-line: underline;
		text-decoration-style: solid;
		text-decoration-thickness: 2px;
		text-decoration-color: var(--bng-orange-500);
	}
	.backBarDisabled {
		background-color: transparent !important;
		cursor: default !important;
		&:hover, &:focus-within {
			background-color: transparent !important;
		}
	}
}
@font-face {
    font-family: bngIcons;
    src: url(/ui/ui-vue/src/assets/fonts/bngIcons/bngIcons.woff2)format("woff2"),url(/ui/ui-vue/src/assets/fonts/bngIcons/bngIcons.woff)format("woff"),url(/ui/ui-vue/src/assets/fonts/bngIcons/bngIcons.otf)format("opentype"),url(/ui/ui-vue/src/assets/fonts/bngIcons/bngIcons.ttf)format("truetype");
    font-display: block;
    font-weight: 500;
    font-style: normal;
    font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.back-icon {
	width: .5em;
    transform: translate(-.25em);
	align-self: center;
    display: inline-block;
	font-size: 1.5em;
    color: white;
    line-height: 1em;
    font-family: bngIcons;
    font-weight: 100;
}
.divider-icon {
	min-width: unset;
	transform: none;
	display: flex;
    position: relative;
	font-size: 1em;
	flex: none;
	justify-content: center;
    align-items: center;
	width: 0.75em;
	margin: .25rem 0;
	box-sizing: border-box;
	
}

#back {
  background-color: var(--background-clr); /* match bng top bar */
  border-radius: var(--bng-corners-2);
}

.rounded-progress .md-container {
  border-radius: 10px;
  overflow: hidden; /* prevents overflow of the bar */
}

.rounded-progress .md-bar {
  border-radius: 10px;
}

#activeFilters {
	display: flex;
	line-height: 1.5em;
	align-self: center;
	padding-left: 10px;
	align-items: center
}


.offset-div {
  position: absolute;
  width: 100%;
  height: 100%;
  left: -90px;
  top: -50px;
}

#top-bar {
  background: transparent
}

#left-menu {
	display:flex;
	color: white;
	background-color: transparent;
	.bng-button-main,
	.bng-button-secondary,
	.bng-button-white,
	.bng-button-outline,
	.bng-button-link,
	.bng-button-attention {
		margin: 0;
		margin-bottom: 0.4em;
	}
	md-divider {
		margin: 0.4em 0;
	}
}

.leftMenuGroups {
	display: flex;
	flex-direction: column;
}
#serverlist-profile-avatar {
	width: 100px;
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#serverlist-profile-name {
	text-align: center;
	background-color: rgba(0, 0, 0, 0); /* this gets adjusted by JS based on account role from auth */
	border-radius: 10px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 10px;
	padding: 2px;
}
#serverlist-profile-id {
	text-align: center;
	font-size: 0.9em;
	line-height: 1.5em;
	opacity: 0.8;
	cursor: pointer;
	margin-top: 6px;
}

#filter-dropdown {
  height: 40px;
  background: unset;
  color: white !important;
  margin: 10px;
}
/*

	Server list search bar

*/
#search {
  border-radius: var(--bng-corners-1);
}

.serverListSearch {
	display: flex;
	position: relative;
	width: 25em;
	height: 2.75em;
	padding: 0.5em .25em;
	margin: 6px 8px;
	box-sizing: border-box;

	flex-direction: row;
	flex-wrap: nowrap;
  	justify-content: space-between;

	background-color: rgba(var(--bng-cool-gray-900-rgb), .66);

	line-height: 1.25em;
	font-size: 1em;
	color: var(--off-white-from-vue);

	border: none;
	border-radius: var(--bng-corners-1) var(--bng-corners-1) 0 0;

	&:focus-within {
		background-color: var(--bng-cool-gray-900);
		&::after {
			height: 0.125em;
			background-color: var(--bng-orange-500);
		};
	};

	&::after {
		content: '';
		display: block;
		width: 25em;
		height: 0.0625em;
		position: absolute;
		bottom: 0;
    	left: 0;

		background-color: var(--off-white-from-vue);
	};
}

.mp-search {
  display: inline;
  border: none !important;
  background: none;
  height: calc(1.5em);
  font-size: 1em;
  margin: 0;
  max-width: none;
  padding: 0;
  cursor: default;
}

.centerPopup {
	background-color: var(--bmp-popup-background-color);
	padding: 20px;
	border-radius: var(--bng-corners-3);
	border: solid var(--bng-cool-gray-700) 0.125em;
	font-family: var(--bmp-fnt-defs);
}

#MultiplayerLoginBody {
  	display: flex;
	position: relative;
	height: fit-content;
	width: fit-content;
	margin: auto;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#serversTableContainer {
	overflow-x: hidden;
}

table#serversTable {
  border-collapse: collapse;
  table-layout: fixed;
  height: fit-content;
  width: 100%;
  color: white;
  position: relative;
}

#serversTable th {
	z-index: 150;
}

#serversTableBody {
	z-index: 140;
}

#serversTable th {
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.20s;
}

#serversTable th:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

.highlight {
  background-color: var(--bng-cool-gray-400);
}

.dropdown {
  min-width: 150px;
}

.button {
  color: white;
  text-align: center;
  background-color: rgb(212, 100, 26);
  text-decoration: none;
  font-size: 15px;
  width: 100%;
  transition-duration: 0.15s;
  cursor: pointer;
}

/*

	Patreon sidebar button

*/
#patreonSidebarButtonSubtitle {
	width: 14em;
	
	font-size:0.8em;
	color: var(--off-white-from-vue);

	overflow-wrap:break-word;
	text-wrap-mode: wrap;
	white-space: normal;
}
.patreon-button-highlight {
	background-color: var(--bng-add-green-800);
	border-color: var(--bng-add-green-600);

	#patreonSidebarButtonSubtitle {
		color: var(--bng-add-green-50);
	};

	&:hover, &:focus-within {
		background-color: var(--bng-add-green-700);
	};
}
.patreon-button-highlight-two {
	border-color: #fe8cff; /* might want to make a variable for this */
}


.description-table {
	table-layout: fixed;
	width: 100%;
	text-align: left;
	vertical-align: top;
	th {
		width: 7em;
		margin-right: 1em;
		vertical-align: top;
		&:hover {
			background-color: transparent !important;
		}
	}
}

/*

	Tag lists

*/
.tagListContainer {
	display:inline-flex;
	max-width: 30em;
	height: fit-content;
	
	flex-wrap: wrap;
	gap: 0.25rem 0.25rem;
}
.tagList {
	background-color:var(--bng-black-o4);
	max-width: fit-content;
	height:fit-content;
	padding: 0.25em 0.5em;
	margin-right:1em;
	word-break: keep-all;
	border: solid var(--bng-cool-gray-600) 0.125em;
	border-radius: var(--bng-corners-2);

	&.tagListShort {
		display: flex;
		font-size: 0.8em;
		line-height: 1.5em;
		margin-right: 0;
		padding: 0.125em 0.25em;
		border-radius: var(--bng-corners-1);
	};
}
.tag-icon {
	margin-right: 0.1em;
}

.sidebar-buttons {
	text-align:left;
	min-height: fit-content;
	margin: 0;
}

#connect-button {
  width: 200px;
  margin-left: auto;
  float: right;
}

#launcher-connect-button {
  width: 250px;
  margin: 0 10px 0 0;
  background: #576ebf;
  &:hover {
  	background-color: #374eaf;
  }
}

#launcher-port {
  width: 125px;
  margin-bottom: 8px;
}

.theEntireMultiplayerModule md-content {
  background-color: rgba(101, 101, 101, 0.34);
}

/*

	Loading (connecting) server popup

*/
div#LoadingServer {
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  color: white;
  background-color: rgba(0, 0, 0, 0.66);
  backdrop-filter: blur(2px);
}

div#LoadingBody {
  width: 50%;
  max-width: 50%;
  max-height: 40%;
  overflow-y: hidden;
  
  font-family: var(--bmp-fnt-defs);
  border-radius: var(--bng-corners-3);
  padding: 20px;

  background-color: var(--bmp-popup-background-color);
  border: 0.125em solid var(--bng-cool-gray-700);
}

#mod-download-list {
  margin-top: 20px;
  height: 25vh; /* Sub-optimal but flex="" doesn't work and this is close enough*/
  overflow-x: hidden;
  overflow-y: auto;

  background-color: #ffffff10;
  padding: 0.25em;
  border: none;
  border-radius: var(--bng-corners-1);
  padding-bottom: 0;
  margin-bottom: 0;
}
.mod-download-row {
    align-items: center;
    margin-bottom: 10px;
}

.close-button {
	display: flex;
	height: fit-content;
	float: right;
	right: 0;
	top: 0;
	min-height: none !important;
	overflow: hidden;

	align-items: center;
	justify-content: center;

	margin-left: auto;
	margin-top: 20px;
	margin-right: 0;

	text-transform: none !important;
}


/* Add custom server to favorited servers popup */
.addCustomFav {
  color: white;

  position: absolute;
  z-index: 100;

  background-color: var(--bmp-popup-background-color);
  padding: 20px;
  border-radius: var(--bng-corners-3);
  border: solid var(--bng-cool-gray-700) 0.125em;
  font-family: var(--bmp-fnt-defs);

  max-width: 700px;
  h1 {
    font-family: Overpass var(--bmp-fnt-defs);
    font-style: italic;
  }
}

/**/
/*
.theEntireMultiplayerModule input {
  display: block;
  width: 400px;
  margin-top: 6px;
  padding: 8px 12px 10px 12px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.25);
  color: white;
  height: 40px;
}
*/

.row {
  width: 100%;
  padding-top: 10px;
  display: flex;
}

.col {
  width: 50%;
}

tr#ServerInfoRow {
  background-color: #3535357a;
  border-top: none;
}
.serverInfoRows {
	padding-left: 20px;

	&.lastRow {
		margin-bottom: 1.5em;
		gap: 0.5em;
		button {
			margin: 0
		}
	}
}

ul.serverItemDetails {
  list-style: none;
}

.theEntireMultiplayerModule md-checkbox .md-container {
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 18px;
  height: 18px;
  left: 0;
  right: auto;
}

.theEntireMultiplayerModule md-checkbox {
  box-sizing: border-box;
  display: block;
  margin: 8px;
  white-space: nowrap;
  cursor: pointer;
  outline: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 18px;
  padding-right: 0;
  position: relative;
  line-height: 26px;
  min-width: 18px;
  color: white;
  min-height: 18px;
}

.theEntireMultiplayerModule md-slider.ng-pristine.ng-untouched.ng-valid.md-default-theme.ng-empty {
  padding-top: 0px;
}

/*

	Edit search filters popup

*/
.filter-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.66);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-body {
  background-color: var(--bmp-popup-background-color);
  /*background-color: rgba(var(--bng-cool-gray-900-rgb), 0.66);*/
  padding: 20px;
  border-radius: var(--bng-corners-3);
  border: solid var(--bng-cool-gray-700) 0.125em;
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  font-family: var(--bmp-fnt-defs);
  h2 {
	margin-top: 10px;
  }
}

.filter-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.dropdown-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.dropdown-row md-select {
  width: 40%;
}






.theEntireMultiplayerModule h2 {
	font-family: Overpass var(--bmp-fnt-defs);
	font-style: italic;

	&.section-header {
		position: relative;
		padding-left: 1.3em;
		width: fit-content;
		&::before {
			content: "";
			position: absolute;
			width: calc(1em * (4 / 7));
			height: 1.2em;
			background: var(--bng-orange);
			transform: matrix(0.94, 0, -0.38, 1, 0, 0);
			left: 0.3em;
			top: 0.125em;
		}
		&.extra-right {
			padding-left:1.45em;
			&::before {
				left:0.45em
			}
		}
	}
}

[placeholder]::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
[placeholder]:hover::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
[placeholder]:focus::-webkit-input-placeholder {
  color: transparent;
}

[placeholder]::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
[placeholder]:hover::-moz-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
[placeholder]:focus::-moz-placeholder {
  color: transparent;
}

[placeholder]:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
[placeholder]:hover:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
[placeholder]:focus:-ms-input-placeholder {
  color: transparent;
}

/* These are both only used in login.partial.html */
.text-white {
  color: white;
}
.text-red {
  color: red;
}

/*

	Server list

*/
@keyframes loadingShimmer{
  0%{
      background-position: -468px 0
  }
  100%{
      background-position: 468px 0
  }
}
.loading-shimmer {
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: loadingShimmer;
  animation-timing-function: linear;
  background: rgba(255, 255, 255, 0);
  background: linear-gradient(to right, #eeeeee00 8%, #dddddd75 18%, #eeeeee00 33%);
  background-size: 1000px 22px;
  height: 22px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

#serversTableHead {
	text-align: left;
}

.flag {
  height: 17px;
  float: left;
  position: relative;
  top: 2px;
  max-width: 34px;
}


.server-maxplayers,
.server-flag {
  width: 90px;
}
.server-mapname {
  width: 33.33%;
}
.server-servername {
  width: 66.67%;
}

.server-item {
  height: 24px;
}
.server-item td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.server-item:focus-within {
  background-color: rgba(255, 255, 255, 0.15);
}
.server-item:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

/*

	Special background colors for server list rows

*/
.featured {
  background-color: rgba(var(--bng-add-green-500-rgb), 0.25);
}
.partner {
  background-color: rgba(var(--bng-add-blue-500-rgb), 0.25);
}
.official {
  background-color: rgba(var(--bmp-orange), 0.25)
}
.favorite {
  background-color: rgba(var(--bng-ter-yellow-500-rgb), 0.25);
}
.custom {
  background-color: rgba(var(--bng-orange-500-rgb), 0.25);
}
.offline {
  background-color: rgba(0, 0, 0, 0.25);
}